body {
    margin: 0;
    background-color: #f9f7fe;
}
.container {
    background: #FFFCF9;
    box-shadow: 0 0 5px #EF476F;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    max-width: 600px;
    border-radius: 5px;
    padding: 10px;
}

h1{
    font-size: 48px;
    color: #EF476F;
    margin: 0;
}

h2{
    color: #06D6A0;
}
h1, h2 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

a{
    color: #EF476F;
}

.weather-data {
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: space-evenly
}

.temp-unit{
    display: inline;
    margin-top: 0px;
    font-size: 22px;
}

.location-button{
    background-color:#FFFCF9;
    border: none;
    font-size: 25px;
}
.location-button:hover{
    transform: scale(1.5);
    cursor: pointer;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
form input[type="text"]{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    width: 60%;
    border-radius: 5px;
}

form input[type="submit"]{
    background: #06D6A0;
    color:#FFFCF9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color .2s ease;
}

form input[type="submit"]:hover{
    background-color: #EF476F;
    color: #FFFCF9;
}

.icon img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.temperature{
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0px;
}

.description{
    font-size: 24px;
    margin-bottom: 20px;
}

.temperature, .description{
    font-family: 'Merriweather', serif;
    color: #EF476F;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    color: #FFFCF9;
}

.details > div{
    padding: 20px;
    background-color: #06D6A0;
    margin: 10px;
    flex: 1;
    border-radius: 5px;
    text-align: center;
    min-height: 45px;
    letter-spacing: 1.5px;
}

footer{
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: rgba(0,0,0, 0.6);
}

@media (max-width: 768px){
    form{
        flex-direction: column;
    }
    form input[type="text"]{
        width: 100%;
        margin-bottom: 10px;
    }
}